1. Add the column names to both datasets:

i. Column Name for customer details table:

           customer_id, 

           Gender,

           age, 

           driving licence present,

           region code, 

           previously insured, 

           vehicle age 

           and vehicle damage, in respective order.

In [1]:
import pandas as pd

In [2]:
# Define column names
column_names = ['customer_id', 'Gender', 'age', 'driving_license_present', 'region_code', 'previously_insured', 'vehicle_age', 'vehicle_damage']

In [3]:
df1 = pd.read_csv('C:\\Users\\DeLL\\Downloads\\customer_details.csv')
df1.columns=column_names

In [4]:
df1

,customer_id,Gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No
...,...,...,...,...,...,...,...,...
381104,381105.0,Male,74.0,1.0,26.0,1.0,1-2 Year,No
381105,381106.0,Male,30.0,1.0,37.0,1.0,< 1 Year,No
381106,381107.0,Male,21.0,1.0,30.0,1.0,< 1 Year,No
381107,381108.0,Female,68.0,1.0,14.0,0.0,> 2 Years,Yes
381108,381109.0,Male,46.0,1.0,29.0,0.0,1-2 Year,No

ii. Column Name for customer_policy table:

           customer_id, 

           annual premium (in Rs), 

           sales channel code, 

           vintage and response.

In [5]:
customer_policy_columns = ['customer_id', 'annual_premium', 'sales_channel_code', 'vintage', 'response']

In [6]:
df2 = pd.read_csv('C:\\Users\\DeLL\\Downloads\\customer_policy_details.csv',header=0,names = customer_policy_columns)

In [7]:
df2

        customer_id  annual_premium  sales_channel_code  vintage  response
0               1.0         40454.0                26.0    217.0       1.0
1               2.0         33536.0                26.0    183.0       0.0
2               3.0         38294.0                26.0     27.0       1.0
3               4.0         28619.0               152.0    203.0       0.0
4               5.0         27496.0               152.0     39.0       0.0
...             ...             ...                 ...      ...       ...
381104     381105.0         30170.0                26.0     88.0       0.0
381105     381106.0         40016.0               152.0    131.0       0.0
381106     381107.0         35118.0               160.0    161.0       0.0
381107     381108.0         44617.0               124.0     74.0       0.0
381108     381109.0         41777.0                26.0    237.0       0.0

[381109 rows x 5 columns]

2. Checking and Cleaning Data Quality:

i. Null values

Generate a summary of count of all the null values column wise

In [8]:
# i. Null values
null_counts_details = df1.isnull().sum()
null_counts_policy = df2.isnull().sum()

In [9]:
null_counts_details

customer_id                386
Gender                     368
age                        368
driving_license_present    393
region_code                392
previously_insured         381
vehicle_age                381
vehicle_damage             407
dtype: int64

In [10]:
null_counts_policy

customer_id           387
annual_premium        346
sales_channel_code    400
vintage               388
response              361
dtype: int64

Drop Null values for customer_id because central tendencies for id’s is not feasible.

In [11]:
df1.dropna(subset =['customer_id'],inplace = True)

In [12]:
 df2.dropna(subset =['customer_id'],inplace = True)

In [13]:
df1.isnull().sum()

customer_id                  0
Gender                     368
age                        366
driving_license_present    392
region_code                391
previously_insured         381
vehicle_age                381
vehicle_damage             406
dtype: int64

In [14]:
df2.isnull().sum()

customer_id             0
annual_premium        344
sales_channel_code    400
vintage               388
response              361
dtype: int64


Replace all null values for numeric columns by mean.

In [15]:
# numerical 
df1

,customer_id,Gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage
0,1.0,Male,44.0,1.0,28.0,0.0,> 2 Years,Yes
1,2.0,Male,76.0,1.0,3.0,0.0,1-2 Year,No
2,3.0,Male,47.0,1.0,28.0,0.0,> 2 Years,Yes
3,4.0,Male,21.0,1.0,11.0,1.0,< 1 Year,No
4,5.0,Female,29.0,1.0,41.0,1.0,< 1 Year,No
...,...,...,...,...,...,...,...,...
381104,381105.0,Male,74.0,1.0,26.0,1.0,1-2 Year,No
381105,381106.0,Male,30.0,1.0,37.0,1.0,< 1 Year,No
381106,381107.0,Male,21.0,1.0,30.0,1.0,< 1 Year,No
381107,381108.0,Female,68.0,1.0,14.0,0.0,> 2 Years,Yes
381108,381109.0,Male,46.0,1.0,29.0,0.0,1-2 Year,No

In [16]:
df1["age"].fillna(df1["age"].mean(),inplace = True)

In [84]:
df2

        customer_id  annual_premium  sales_channel_code  vintage  response
0               1.0         40454.0                26.0    217.0       1.0
1               2.0         33536.0                26.0    183.0       0.0
2               3.0         38294.0                26.0     27.0       1.0
3               4.0         28619.0               152.0    203.0       0.0
4               5.0         27496.0               152.0     39.0       0.0
...             ...             ...                 ...      ...       ...
381104     381105.0         30170.0                26.0     88.0       0.0
381105     381106.0         40016.0               152.0    131.0       0.0
381106     381107.0         35118.0               160.0    161.0       0.0
381107     381108.0         44617.0               124.0     74.0       0.0
381108     381109.0         41777.0                26.0    237.0       0.0

[380722 rows x 5 columns]

In [17]:
df2["annual_premium"].fillna(df2["annual_premium"].mean(),inplace=True)

In [18]:
df2["sales_channel_code"].fillna(df2["sales_channel_code"].mean(),inplace=True)

In [19]:
df2["vintage"].fillna(df2["vintage"].mean(),inplace = True)

In [20]:
df2

        customer_id  annual_premium  sales_channel_code  vintage  response
0               1.0         40454.0                26.0    217.0       1.0
1               2.0         33536.0                26.0    183.0       0.0
2               3.0         38294.0                26.0     27.0       1.0
3               4.0         28619.0               152.0    203.0       0.0
4               5.0         27496.0               152.0     39.0       0.0
...             ...             ...                 ...      ...       ...
381104     381105.0         30170.0                26.0     88.0       0.0
381105     381106.0         40016.0               152.0    131.0       0.0
381106     381107.0         35118.0               160.0    161.0       0.0
381107     381108.0         44617.0               124.0     74.0       0.0
381108     381109.0         41777.0                26.0    237.0       0.0

[380722 rows x 5 columns]

Replace all null values for Categorical value by mode.

#### categorical

In [85]:
df1["driving_license_present"].fillna(df1["driving_license_present"].mode()[0],inplace = True)

In [86]:
df1["previously_insured"].fillna(df1["previously_insured"].mode()[0],inplace=True)

In [87]:
df1["Gender"].fillna(df1["Gender"].mode()[0],inplace=True)

In [88]:
df1["vehicle_age"].fillna(df1["vehicle_age"].mode()[0],inplace=True)

In [89]:
df1["vehicle_damage"].fillna(df1["vehicle_damage"].mode()[0],inplace=True)

In [26]:
df1["region_code"].fillna(df1["region_code"].mode()[0],inplace=True)

In [27]:
df1.isnull().sum()

customer_id                0
Gender                     0
age                        0
driving_license_present    0
region_code                0
previously_insured         0
vehicle_age                0
vehicle_damage             0
dtype: int64

In [28]:
df2["response"].fillna(df2["response"].mode()[0],inplace = True)

In [29]:
df2.isnull().sum()

customer_id           0
annual_premium        0
sales_channel_code    0
vintage               0
response              0
dtype: int64

In [30]:
#df1["Gender"].mode()[0]

#### ii. Outliers

Generate a summary of count of all the outliers column wise
Replace all outlier values for numeric columns by mean. 
(Hint1: for outlier treatment use IQR method as follows:

For example: for a column X calculate Q1 = 25th percentile and Q3 = 75th percentile then IQR = Q3 – Q1 ) then to check outlier, anything lower than a Q1 – 1.5IQR or greater than Q3 + 1.5 IQR would be an outlier

Hint2: For getting percentile value, explore pd.describe() function)

In [90]:
df1.describe()

,customer_id,age,driving_license_present,region_code,previously_insured
count,380723.000000,380723.000000,380723.000000,380723.000000,380723.000000
mean,190548.776244,38.822788,0.997870,26.391090,0.457800
std,110016.805160,15.504826,0.046105,13.223772,0.498217
min,1.000000,20.000000,0.000000,0.000000,0.000000
25%,95269.500000,25.000000,1.000000,15.000000,0.000000
50%,190543.000000,36.000000,1.000000,28.000000,0.000000
75%,285822.500000,49.000000,1.000000,35.000000,1.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000

In [32]:
Q1 = df1["age"].quantile(.25)
Q1

25.0

In [33]:
Q3 = df1["age"].quantile(.75)
Q3

49.0

In [34]:
IQR = Q3-Q1
IQR

24.0

In [35]:
Lower_bound = Q1-(1.5*IQR)
Lower_bound

-11.0

In [36]:
Upper_bound = Q3+(1.5*IQR)
Upper_bound

85.0

In [37]:
Outlier1 = ((df1["age"]<Lower_bound) | (df1["age"]>Upper_bound)).sum()

In [38]:
Outlier1

0

In [39]:
Q1 = df2.quantile(.25)
Q1

customer_id           95276.25
annual_premium        24416.00
sales_channel_code       29.00
vintage                  82.00
response                  0.00
Name: 0.25, dtype: float64

In [40]:
Q3 = df2.quantile(.75)
Q3

customer_id           285818.75
annual_premium         39391.75
sales_channel_code       152.00
vintage                  227.00
response                   0.00
Name: 0.75, dtype: float64

In [41]:
IQR2 = Q3-Q1
IQR2

customer_id           190542.50
annual_premium         14975.75
sales_channel_code       123.00
vintage                  145.00
response                   0.00
dtype: float64

In [42]:
lower_b = Q1-(1.5*IQR2) 
lower_b

customer_id          -190537.500
annual_premium          1952.375
sales_channel_code      -155.500
vintage                 -135.500
response                   0.000
dtype: float64

In [43]:
upper_b =Q3+(1.5*IQR2)
upper_b

customer_id           571632.500
annual_premium         61855.375
sales_channel_code       336.500
vintage                  444.500
response                   0.000
dtype: float64

In [44]:
Outlier2 = ((df2<lower_b) | (df2>upper_b)).sum()

In [45]:
Outlier2

customer_id               0
annual_premium        10332
sales_channel_code        0
vintage                   0
response              46604
dtype: int64

In [46]:
q1 = df2["annual_premium"].quantile(.25)
q1

24416.0

In [47]:
q3 = df2["annual_premium"].quantile(.75)
q3

39391.75

In [48]:
iqr = q3-q1
iqr

14975.75

In [49]:
lb = q1-(1.5*iqr)
lb

1952.375

In [50]:
ub = q3+(iqr*1.5)
ub

61855.375

In [51]:
anu_outlier=((df2["annual_premium"] < lb) | (df2["annual_premium"] > ub)).sum()

In [52]:
anu_outlier

10332

In [53]:
df2["annual_premium"].describe()

count    380722.000000
mean      30563.999774
std       17190.147550
min        2630.000000
25%       24416.000000
50%       31656.000000
75%       39391.750000
max      540165.000000
Name: annual_premium, dtype: float64

In [54]:
import numpy as np

In [55]:
# Find the index positions of outliers
#outlier_indices = np.where((df2["annual_premium"] < lb) | (df2["annual_premium"] > ub))[0]

In [56]:
df2["annual_premium"] = np.where(df2["annual_premium"]<lb,df2["annual_premium"].mean(),df2["annual_premium"])

In [57]:
df2["annual_premium"] = np.where(df2["annual_premium"]>ub,df2["annual_premium"].mean(),df2["annual_premium"])

In [58]:
anu_outlier=((df2["annual_premium"] < lb) | (df2["annual_premium"] > ub)).sum()

In [59]:
anu_outlier

0

iii. White spaces

Remove white spaces

In [60]:
df1["Gender"] = df1["Gender"].str.strip()

In [61]:
df1["vehicle_age"] = df1["vehicle_age"].str.strip()

In [62]:
df1["vehicle_damage"] = df1["vehicle_damage"].str.strip()

#### iv. case correction(lower or upper, any one)

In [63]:
df1["Gender"] = df1["Gender"].str.upper()

In [64]:
df1

,customer_id,Gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage
0,1.0,MALE,44.0,1.0,28.0,0.0,> 2 Years,Yes
1,2.0,MALE,76.0,1.0,3.0,0.0,1-2 Year,No
2,3.0,MALE,47.0,1.0,28.0,0.0,> 2 Years,Yes
3,4.0,MALE,21.0,1.0,11.0,1.0,< 1 Year,No
4,5.0,FEMALE,29.0,1.0,41.0,1.0,< 1 Year,No
...,...,...,...,...,...,...,...,...
381104,381105.0,MALE,74.0,1.0,26.0,1.0,1-2 Year,No
381105,381106.0,MALE,30.0,1.0,37.0,1.0,< 1 Year,No
381106,381107.0,MALE,21.0,1.0,30.0,1.0,< 1 Year,No
381107,381108.0,FEMALE,68.0,1.0,14.0,0.0,> 2 Years,Yes
381108,381109.0,MALE,46.0,1.0,29.0,0.0,1-2 Year,No

In [65]:
df1["vehicle_age"] = df1["vehicle_age"].str.upper()

In [66]:
df1["vehicle_damage"] = df1["vehicle_damage"].str.upper()

In [67]:
df1

,customer_id,Gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage
0,1.0,MALE,44.0,1.0,28.0,0.0,> 2 YEARS,YES
1,2.0,MALE,76.0,1.0,3.0,0.0,1-2 YEAR,NO
2,3.0,MALE,47.0,1.0,28.0,0.0,> 2 YEARS,YES
3,4.0,MALE,21.0,1.0,11.0,1.0,< 1 YEAR,NO
4,5.0,FEMALE,29.0,1.0,41.0,1.0,< 1 YEAR,NO
...,...,...,...,...,...,...,...,...
381104,381105.0,MALE,74.0,1.0,26.0,1.0,1-2 YEAR,NO
381105,381106.0,MALE,30.0,1.0,37.0,1.0,< 1 YEAR,NO
381106,381107.0,MALE,21.0,1.0,30.0,1.0,< 1 YEAR,NO
381107,381108.0,FEMALE,68.0,1.0,14.0,0.0,> 2 YEARS,YES
381108,381109.0,MALE,46.0,1.0,29.0,0.0,1-2 YEAR,NO

v. Convert nominal data (categorical) into dummies 

for future modeling use if required

In [68]:
var1 = pd.get_dummies(df1)

In [69]:
var1

,customer_id,age,driving_license_present,region_code,previously_insured,Gender_FEMALE,Gender_MALE,vehicle_age_1-2 YEAR,vehicle_age_< 1 YEAR,vehicle_age_> 2 YEARS,vehicle_damage_NO,vehicle_damage_YES
0,1.0,44.0,1.0,28.0,0.0,0,1,0,0,1,0,1
1,2.0,76.0,1.0,3.0,0.0,0,1,1,0,0,1,0
2,3.0,47.0,1.0,28.0,0.0,0,1,0,0,1,0,1
3,4.0,21.0,1.0,11.0,1.0,0,1,0,1,0,1,0
4,5.0,29.0,1.0,41.0,1.0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
381104,381105.0,74.0,1.0,26.0,1.0,0,1,1,0,0,1,0
381105,381106.0,30.0,1.0,37.0,1.0,0,1,0,1,0,1,0
381106,381107.0,21.0,1.0,30.0,1.0,0,1,0,1,0,1,0
381107,381108.0,68.0,1.0,14.0,0.0,1,0,0,0,1,0,1
381108,381109.0,46.0,1.0,29.0,0.0,0,1,1,0,0,1,0

vi. Drop Duplicates (duplicated rows)

In [70]:
df1.drop_duplicates(inplace = True)

### 3. Create a Master table for future use. Join the customer table and customer_policy table to get a master table using customer_id in both tables.

(Hint: use pd.merge() function)

In [71]:
merge_df = pd.merge(df1,df2, on = "customer_id")

In [72]:
merge_df

,customer_id,Gender,age,driving_license_present,region_code,previously_insured,vehicle_age,vehicle_damage,annual_premium,sales_channel_code,vintage,response
0,1.0,MALE,44.0,1.0,28.0,0.0,> 2 YEARS,YES,40454.0,26.0,217.0,1.0
1,2.0,MALE,76.0,1.0,3.0,0.0,1-2 YEAR,NO,33536.0,26.0,183.0,0.0
2,3.0,MALE,47.0,1.0,28.0,0.0,> 2 YEARS,YES,38294.0,26.0,27.0,1.0
3,4.0,MALE,21.0,1.0,11.0,1.0,< 1 YEAR,NO,28619.0,152.0,203.0,0.0
4,5.0,FEMALE,29.0,1.0,41.0,1.0,< 1 YEAR,NO,27496.0,152.0,39.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
380331,381105.0,MALE,74.0,1.0,26.0,1.0,1-2 YEAR,NO,30170.0,26.0,88.0,0.0
380332,381106.0,MALE,30.0,1.0,37.0,1.0,< 1 YEAR,NO,40016.0,152.0,131.0,0.0
380333,381107.0,MALE,21.0,1.0,30.0,1.0,< 1 YEAR,NO,35118.0,160.0,161.0,0.0
380334,381108.0,FEMALE,68.0,1.0,14.0,0.0,> 2 YEARS,YES,44617.0,124.0,74.0,0.0
380335,381109.0,MALE,46.0,1.0,29.0,0.0,1-2 YEAR,NO,41777.0,26.0,237.0,0.0

4. Company needs some important information from the master table to make decisions for future growth.They needs following information:

 i. Gender wise average annual premium

In [73]:
# Task 4: Extract important information from the master table
# i. Gender wise average annual premium
gender_avg_premium = merge_df.groupby('Gender')['annual_premium'].mean()

In [74]:
gender_avg_premium

Gender
FEMALE    29273.474247
MALE      29323.099677
Name: annual_premium, dtype: float64

In [75]:
# ii. Age wise average annual premium
age_avg_premium = merge_df.groupby('age')['annual_premium'].mean()

In [76]:
age_avg_premium

age
20.0    26342.073517
21.0    29751.791916
22.0    29946.848634
23.0    29838.344763
24.0    30125.557096
            ...
81.0    29287.910702
82.0    36480.586199
83.0    28995.818172
84.0    35440.818182
85.0    26637.454525
Name: annual_premium, Length: 67, dtype: float64

In [77]:
# iii. Check data balance between genders
gender_counts = merge_df['Gender'].value_counts()

print("Data is not balanced  number of counts in each group is not same")

Data is not balanced  number of counts in each group is not same

In [78]:
gender_counts

MALE      205851
FEMALE    174485
Name: Gender, dtype: int64

In [79]:
# iv. Vehicle age wise average annual premium
vehicleage_avg_premium=merge_df.groupby('vehicle_age')["annual_premium"].mean()

In [80]:
vehicleage_avg_premium

vehicle_age
1-2 YEAR     29102.009839
< 1 YEAR     29188.150594
> 2 YEARS    32943.540830
Name: annual_premium, dtype: float64

In [81]:
# Task 5:  relationship between person age and annual premium
correlation = merge_df['age'].corr(merge_df['annual_premium'])

In [82]:
correlation

0.050657589286175454

In [83]:
print("0.5 < Correlation coefficient < 0.5   - There is no relationship")

0.5 < Correlation coefficient < 0.5   - There is no relationship